#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.searchbar {
  display: flex;
  background-color: black;
  border-radius: 20px;
  padding: 5px 5px;
}


.input {
  background: transparent;
  border: transparent
}

.displayCats {
  width: 100%;
  border: solid 1px white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catCard {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: solid 1px slateblue;
  margin: 5px 5px;
  border-radius: 15px;
  box-shadow: 1px 2px 2px 0px black;
}
.catCardFront {
  position: absolute;
  padding: 2px 2px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 70%;
  background: linear-gradient(#181212, #090a0e);

}

.catCardFront p {
  font-size: small;
  font-style: italic;
  opacity: 0.8;
  margin: 3px 0px;
}

.catCard:hover .catCardFront{
  justify-content: center;
  justify-items: center;
  transform: translateY(-70%);
  transition: 0.1s linear;
}

.catCard:hover{
  cursor: pointer;
  scale: 1.1
}

.info{
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: slategrey;
  border: solid 1px white;
  width: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

